!!! 5
%html{lang: 'en'}
  %head
    %title So Many Feeds - #{@title}
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1'}
    - jammit :js, :head
    - jammit :css, :manager
    - google_web_fonts
    - unless development?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24449407-2']);
        _gaq.push(['_trackPageview']);
  %body{class: @controller || 'home'}
    %header.main
      %hgroup.main
        %h1 So Many Feeds
        - if no_cache? && logged_in?
          %h2 Welcome, #{user.to_label}
        - else
          %h2 A simple homepage
        %h3 Alpha
      %nav
        %ul
          %li.home
            %a{href: '/'} home
          %li
            %a{href: '/my-account'} my account
          %li
            %a{href: '/my-feeds'} my feeds
          %li
            %a{href: '/my-site'} my site
          - if no_cache? && logged_in?
            %li
              %a{href: '/logout'} logout
      %hgroup.page
        %h1
          = @title
          %ul#flash= flash_messages
    %section.main
      = yield
    - jammit :js, manager_package, async: true
    :javascript
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
