%article{class: article.source.downcase}

  - case article.source
  - when 'Twitter'
    %header
      %h1
        %a{href: article.link}= article.title
      %h2
        Source: #{article.feed_name}
        %time{datetime: datetime(article), pubdate: true}= display_date(article)

  - when 'Flickr'
    %header
      %h1
        %a{href: article.link} Photo
      %h2
        Source: #{article.feed_name}
        %time{datetime: datetime(article), pubdate: true}= display_date(article)
    %article= content(article)

  - else
    %header
      %h1
        %a{href: article.link}= article.title
      %h2
        Source: #{article.feed_name}
        %time{datetime: datetime(article), pubdate: true}= display_date(article)
    - if content(article).present?
      %section= content(article)
