!!! 5
%html{lang: 'en'}
  %head
    %title= @title
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1'}
    - rss_links
    - jammit :js, :head
    - jammit :css, :aggregator
    - unless development?
      %script{src: 'http://use.typekit.com/dtz1quu.js'}
      :javascript
        try{Typekit.load();}catch(e){}
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24448480-1']);
        _gaq.push(['_setDomainName', 'none']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

    - if @user
      :javascript
        var initSoManyFeeds = [#{default_sources.to_json}, #{@sources.to_json}];

    %meta{name: 'viewport', content: 'width=screen-width, initial-scale=1, maximum-scale=1'}

  %body
    %header.main
      %hgroup.main
        %h1= @title
      %nav.main
        = partial :main_menu if @user
    %section.main
      = yield
    %footer
      powered by <a href="http://somanyfeeds.com">So Many Feeds</a>
    - jammit :js, :aggregator, async: true
    :javascript
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
